@import url(https://fonts.googleapis.com/css?family=Indie+Flower);

#header2-1 H1 {
  color: #ff0099;
  font-family: 'Indie Flower', cursive;
  font-size: 60px;
}
#header2-1 I {
  color: #0023ff;
  font-size: 23px;
}
#slider-4 H1 {
  color: #e9ff00;
}
